<div>
    <div (click)="showAlert('CSV')" class="ActionDiv">
      <img class="smallimg" src="./assets/file.png" alt="CSV"/>
      <span style="vertical-align: super;"> CSV</span>
    </div>

    <div (click)="showAlert('Report')" class="ActionDiv">
      <img class="smallimg" src="./assets/statistics-report.png" alt="Report"/>
      <span style="vertical-align: super;"> Report</span>
    </div>

    <div class="ActionDiv" style="margin-top: 0;cursor:default;">
      <input matInput [matDatepicker]="picker" name="myPicker" (dateChange)="campaignDateChanged($event)" 
        [value]="campaignData.campaignDate"  style="visibility: hidden;width: 0px;">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <span> Schedule Again</span>
    </div>

  </div>